@font-face {
    font-family: 'sofia-pro'; /* Replace with your font name */
    src: url('./font/sofiapro-light.otf') format('opentype'); /* Replace with your font file name */
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
  }
  